.hero-section {
  transition: background-image 1s ease-in-out;
}

footer p {
  margin: 0;
}

.carousel .item {
  height: 1000px;
}

.carousel {
  max-height: 1000px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.caption-carousel {
  text-align: start !important;
  /* left: auto; */
  padding: 50px;
}

@media (max-width: 768px) {
  .caption-carousel {
    padding: 0px !important;
    padding-bottom: 20px !important;
    text-align: center !important;
  }

  .carousel-img {
    min-height: 40vh !important;
  }
}
.carousel-img {
  max-height: 200vh;
  width: 100% !important;
  object-fit: cover;
}

.carousel,
.carousel-item,
.carousel-item img {
  width: 100%;
  max-height: 75vh; /* ← set your fixed height here */
}

.carousel-item img {
  object-fit: cover;      /* ensures image fills container */
  object-position: center; /* centers the crop */
}

.containerw {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 50;
}